body {
  background-color: white;
  color: black;
}

.result-container {
  max-width: 800px;
  margin: auto;
}

.chart-container {
  overflow: auto;
  margin-top: 2rem;
}

.analysis-container {
  padding: 0rem 1rem;
}

.analysis-container > p {
  font-weight: bold;
  font-size: 1.25rem;
}

.analysis-pointer {
  list-style-type: none;
  padding: 0px;
}

.analysis-pointer > li {
  background-image: url(./images/analysis_pointer.svg);
  background-repeat: no-repeat;
  padding-left: 2.5rem;
  background-position: top left;
  background-size: 1.75rem;
  margin-bottom: 2rem;
}

.analysis-title {
  color: var(--blue-font);
  font-weight: bold;
  margin: 0.25rem 0px;
}

.analysis-desc {
  margin: 0px;
  color: #9c9c9c;
}

.analysis-container > button {
  border-radius: 20px;
  background-color: var(--btn-blue);
  color: #ffffff;
  width: 90%;
  margin: 2rem 0px 0px 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  transition: background-color 0.25s;
  cursor: pointer;
  max-width: 35rem;
}

.reset-button.reset {
  background-color: var(--avatar-green);
}